.parent{
    width:200px;
    height:200px;
}
.parent1{
    width:300px;
    height:300px;
}
.parent2{
    width:400px;
    height:400px;
}
/* .parent{
    width:200pt;
    height:200pt;
}
.parent1{
    width:300pt;
    height:300pt;
}
.parent2{
    width:400pt;
    height:400pt;
} */
